* {
    box-sizing: border-box;
}
body {
  background-image: url("background.jpg");
}
input[type=email], input[type=password],input[type="text"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
	text-align:center;
	font-weight:bold;
	font-size:20px;
	font-family: Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;



}
.input-group {
	margin: 10px 0px 10px 0px;
        text-align: center;
}

.input-group label {
	display: block;
	text-align: left;
	margin: 3px;
           font-weight: 600;
           font-style: italic;
}
.input-group input {
	height: 30px;
	width: 93%;
	padding: 5px 10px;
	font-size: 16px;
	border-radius: 5px;
	border: 1px solid gray;
       
}
.btn {
	padding: 10px;
	font-size: 15px;
	color: white;
	display:block;
	border: none;
	border-radius: 5px;
        text-align:center;
        background:purple;
        font-weight:500;
        font-style: italic;
        margin: 0 auto;
        width: 180px;
        float:left
        
}
a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    color: initial;
}
.error {
	width: 92%; 
	margin: 0px auto; 
	padding: 10px; 
	border: 1px solid #a94442; 
	color: #a94442; 
	background: #f2dede; 
	border-radius: 5px; 
	text-align: left;
}
.success {
	color: #3c763d; 
	background: #dff0d8; 
	border: 1px solid #3c763d;
	margin-bottom: 20px;
}





button {
    background-color: purple;
    color: white;
	font-family: Copperplate, "Copperplate Gothic Light", fantasy;
	font-size: 24px;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
	opacity: 0.5;
}

.imgcontainer {
    text-align: center;
    margin: 0px 0 20px 0;
}

img.avatar {
    width: 30%;
    border-radius: 10%;
}

label{
	font-family: Copperplate, "Copperplate Gothic Light", fantasy;
	font-size: 20px;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	
}
.header {

   position: relative;
	color: black; 
   text-align: center;
	border: 0px solid #B0C4DE;
	border-bottom: none;
	border-radius: 0px 0px 0px 0px;
	padding: 0px;
    background-color:#ffffff;
    margin:   auto;
    opacity: 0.6;
     filter: alpha(opacity=60); 
}
nav {
  position:absolute;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 35px;
 

}

ul {
	font-family: Copperplate, "Copperplate Gothic Light", fantasy;
	font-size:24px;
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: right;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: purple;
}
.content {
	
	
    width: 40%;
margin-top:100px;
margin-left:350px;
	padding: 50px;
	border: 1px solid #B0C4DE;
	background: #DCDCDC;
	border-radius: 50px 50px 50px 50px;
         background-color: #ffffff;
        opacity: 0.8;
         filter: alpha(opacity=60); 
    box-shadow: 10px 10px 5px #888888;
          box-sizing: border-box;

  
    
}
